* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    outline: none;
}

body{
    background-color: #f4f7f8;
    position:relative;
    font-family:sans-serif;
        /* to wrap all the new notes automatically */

}

.heading{
    width: 100vw;
    height:5.5rem;
    background-color: #000;
    color:#fff;
    box-shadow: 0px 10px 16px rgb(212, 210, 210);  /**************/
}

.heading h1{
    line-height: 5.8rem;
    margin-left:2rem;
    font-weight:400;
}
#heading2{
    position:absolute;

    font-size:2.5rem;
    top:8.5rem;
    text-align:center;
    left:45%;
    font-weight:300;

    
}

/* <div class="btn-div">
        <button class="learn-more" class="add" id="add">
            <span class="circle">
                <span class="icon arrow"></span>
            </span>
            <span class="button-text">Add note</span>

        </button>
    </div> */

.box:active{
    transform: scale(0.96);           /**************/
}
.box{
    transition:all 1s cubic-bezier(0.075, 0.82, 0.165, 1)
}

.btn-div{
    position:fixed;
    top:7rem;
    right:1rem;
    border:none;
    border-radius:3px;
    padding: 0.5rem 1rem;
    cursor:pointer
}

button{
    position:relative;
    display:inline-block;
    cursor:pointer;
    outline:none;
    border:0;
    vertical-align:middle;
    text-decoration:none ;
    background: transparent;         /**************/
    padding:0;
    font-size:inherit;
    font-family:inherit;
    z-index:8;
  

}
button.learn-more{
    width:12rem;
    height:auto;
}


button.learn-more .circle{
    transition:all 0.45s cubic-bezier(0.65,0,0.76,1);
    position:absolute;
    display:block;
    margin:0;
    width:3rem;           /* By default the .circle elem is a square in shape, therefore, by giving it border radius of 1.5rem we make it a cicle  */
    height:3rem;          /* when button is hovered upon its width is changed to 12rem causing it to transition into a rectangle with curved corners */
    background: #f1c12e;
    border-radius: 1.5rem;

}

button.learn-more .circle .icon{
    transition:all 0.45 cubic-bezier(0.65,0,0.76,1);
    position:absolute;
    top:0;
    bottom:0;
    margin:auto;
    background: #fff;
   
}

button.learn-more .icon.arrow{
    transition:all 0.45 cubic-bezier(0.65,0,0.76,1);
    left:0.625rem;
    width:1.125rem;                /*it just creates a dash*/
    height:0.125rem;
    background: none;

}
button.learn-more .circle .icon.arrow::before{   /*  creates an arrow by giving border to top and right side of box and then rotating it*/ 
    position:absolute;
    content:'';
    top:-0.25rem;
    right:0.0625rem;
    width:0.625rem;
    height:0.625rem;
    border-top:0.125rem solid #fff;
    border-right:0.125rem solid #fff;
    transform:rotate(45deg)
    


}

button.learn-more .button-text{
    transition:all 0.45s cubic-bezier(0.65,0,0.76,1);
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    padding: 0.75rem 0;
    margin:0 0 0 1.85rem;
    color: #282936;
    font-weight:700;
    line-height:1.6;
    text-align: center;
    text-transform: uppercase;

}

button:hover .circle {
    width:100%;  /* equal to the width of the button =12rem */
}

button:hover .circle .icon.arrow{
    background: #fff;
    transform: translate(1rem,0);
}


button:hover .button-text{
    color:#fff;
}

/* button style end */

/*  <div class="tools">
    <button class="edit"><i class="fas fa-edit"></i> </button>
    <button class="delete"><i class="fas fa-trash-alt"></i> </button>
    </div>
    <div class="main"></div>
    <textarea class="" ></textarea>
*/

.note{
    background-color: #fff;
    margin:30px 20px;
    height:200px;
    width:400px;
    overflow-y:scroll;
    margin-top: 7rem;
    box-shadow: inset 1px 1px 0 rgba(0 ,0, 0, 0.1), inset 0 -1px  0 rgba(0,0,0,0.1); /* adding two shadows */
}

.note .tools{
    display:flex;
    justify-content:flex-end;
    padding:0.5rem;
}

.note .tools button{
    /* background-color:transparent;      */
    /* border:none; */
    /* color:#fff; */
    
    /* font-size:1rem; */
    margin-left:0.5rem;
    cursor:pointer;

}

.note textarea{
    outline:none;
    font-family:inherit;
    font-size:1rem;
    border:none;
    height:300px;
    width:100%;
    padding:20px;

}

.fa-edit, .fa-trash-alt{
    color:#fff;
    padding:10px;
    background-color: #2ecc71;
    border-radius:50%;

}

.fa-trash-alt{
    background: #e74c3c;
}

.fa-edit:hover{                    /* to make the button interactive when hoverd*/
    background-color: #fff;
    color:#27ae60;
    filter:drop-shadow(0 10px 8px rgb(219,218,218))
}

.fa-trash-alt:hover{
    background-color: #fff;
    color:#e74c3c;
    filter:drop-shadow(0 10px 8px rgb(219,218,218))
}

.main{
    padding:20px;
    color:#767474;
    font-size:0.9rem;
}

.hidden{
    display:none;
}

.help{


    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    z-index:10;
    height:420px;
    width:600px;
    padding:30px;
    border-radius: 8px;
    line-height: 40px;
    background: #ffe57b;
    box-shadow: 5px 5px 10px rgb(103, 101, 101);
    overflow:scroll;
    font-size:14px;

    

}


.help ul{
    
    letter-spacing: 0.8px;
   
}
.help h2{
    text-align: center;

}
.help ul li.li_heading{
    font-size:18px;
    text-align: center;
    margin-bottom:20px;
    list-style-type:none;

}


#i_div {

    

    /* animation: bounce 1s;
    transform: translateY(0px);
    animation-iteration-count: infinite; */
    border-radius:50%;
    position:fixed;
    right:40px;
    bottom:40px;
    filter:drop-shadow(5px 5px 5px rgb(141, 141, 141)) ;
    color:#F1C40E;
    background: white;
    height:40px;
    width:40px;
    display:flex;
    justify-content: center;
    align-items:center;
    font-size:20px;
    font-family:cursive;
    font-weight:500;
    cursor:pointer;

  }
  

#i_div:hover {
    
   color:white;
   background: #F1C40E;

  }
  
#outer_container{
    width:100vw;
    height:auto;
    display:flex;
    justify-content: space-around;
}

#container{
    display:flex;
    flex-wrap:wrap;
    margin:1.25rem ;
    justify-content: space-around;

}
  
  
